[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/TryGhost/Ghost-Admin.git
[submodule "content/themes/shade"]
	path = content/themes/shade
	url = https://github.com/moso/shade-ghost-theme.git
[submodule "content/themes/klinker-apps"]
	path = content/themes/klinker-apps
	url = git@github.com:klinker-apps/casper.git
